<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Jabber!</title>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			var socket = io(); // Linking the socket object to the server
			function sendMessage() { // Sends a message back to the server
				socket.emit("message", document.getElementById("chat_input").value);
					document.getElementById("chat_input").value = "";
			}

			// Event Listeners
			document.addEventListener("DOMContentLoaded", function() {
				document.getElementById("chat_submit").addEventListener("click", sendMessage); // Sends the message when the submit button is clicked
				document.getElementById("chat_input").addEventListener("keydown", function(key) { // Activates when a key is pressed
					if (key.keyCode == 13) sendMessage(); // Checks if the pressed key was the <ENTER> key, if so, it will send the message
				});
			});

			// Socket Events
			socket.on('broadcast', function(data) {
				document.getElementById("messages").innerHTML += data; // On receiving data from the server, it appends it to the messages body
			});

			socket.on('css', function(data) {
				document.getElementById("messages_alignment").innerHTML = data;
			});

		</script>
	</head>
	<body>
		<style type="text/css" id='messages_alignment'></style>
		<p>Hello, and welcome to Jabber. <br/>To start, please sent a message.</p>
		<div id='messages'></div>
		<label for="message"><b>Message: </b></label><input id='chat_input' type="text" name="message"/><input id='chat_submit' type="submit" name="submit"/>
	</body>
</html>